#error-404 .img      { background: url('../images/errors/404.png') 0px 8px no-repeat; height: 256px; margin: 0 auto; padding-top: 20px; width: 256px; }
#error-500 .img      { background: url('../images/errors/500.png') 0px 8px no-repeat; height: 256px; margin: 0 auto; padding-top: 20px; width: 256px; }
#error-404 .message,
#error-500 .message  {font-size: 20px; margin: 0 auto; padding-top: 35px; text-align: center;}
