/* 
    Document   : global
    Created on : 2010-6-21, 13:08:37
    Author     : D.zhang
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
  margin: 0;
  padding: 0;
  font: 12px Verdana, sans-serif;
  overflow:auto;
}

input {
  font: 12px/120% Verdana, sans-serif
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

em {
  font-weight:normal;
  font-style:normal;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul, ol, li, dt, dt, dd, p, form, quote, code, fieldset {
  margin: 0 ;
  padding: 0;
}

ul li{
  list-style-type:none;
}

img, a img {
  border: none;
  vertical-align:middle;
}
tr.even {
	BACKGROUND:#f1f1f1;
}
tr.odd {
	BACKGROUND:#fff;
}
tr.alt {
        background:#f1f1f1;
}
tr.over {
        background:#F3F3F3;
}
table {table-layout:fixed;}
th,td{padding:0px 3px;}
.overflowhidden{width:100%;overflow:hidden;white-space:nowrap;}
.overflowMoney{width:100%;text-align: right;white-space:nowrap;}
.bottom_save {padding-left:50px}
.bottom_save .input {height:30px;width:70px;font-size:14px;line-height:30px;color:#fff;font-weight:bold;background:#004BC7;border:1px #00027A solid;border-top:1px #fff solid;border-left:1px #fff solid;margin-right:5px}
/*公共CSS区域*/
.clear{clear:both;}
.pointer {cursor:pointer;}
fieldset {padding:10px;height:auto}
fieldset legend {font-size:14px}

/*公共CSS区域结束*/
/* ------------------------ Link ------------------------ */
a:link {
	color: #0033CC;
	text-decoration:none;
}
a:visited {
	color: #666;
	text-decoration:none;
}
a:hover {
	color: #fff;
	text-decoration:underline;
}
a:active {
	color: #333;
	text-decoration:none;
}
/* ------------------------ Color ------------------------ */
.cRed,a.cRed:link,a.cRed:visited {
    color:#f00;
}
.cBlue,a.cBlue:link,a.cBlue:visited,a.cBlue:active {
	color:#1f3a87;
}
.cDRed,a.cDRed:link,a.cDRed:visited {
    color:#bc2931;
}
.cGray,a.cGray:link,a.cGray:visited {
    color: #4F544D;
}
.cDGray,a.cDGray:link,a.cDGray:visited {
    color: #666;
}
.cWhite,a.cWhite:link,a.cWhite:visited {
    color:#fff;
}
.cWhiteTitle {
    color:#fff;font-size:16px;padding-top:20px;padding-right:20px;padding-left:20px;
}
.cBlack,a.cBlack:link,a.cBlack:visited {
	color:#000;
}
.cYellow,a.cYellow:link,a.cYellow:visited {
	color:#ff0;
}
.cGreen,a.cGreen:link,a.cGreen:visited {
    color:#008000;
}

/* ---------------------- Wrapper ---------------------- */
#wrapper {
  width:980px;
  text-align: center;
  margin:0 auto;
}
/* ------------------------ Header------------------------ */
#header {
  height: 50px;
  width: 100%;
  background: #333;
}
#header #logo {float:left;padding-left:10px;padding-left:10px;height:50px}
#header #headbar-left ul {
	padding-left:10%;
}
#header #headbar-left ul li {
  float:left;
  margin-top:20px;
  font-size:14px;
}
#header #headbar-left ul li a {
  float:left;
  display:block;
  padding:0 10px 0 13px;
  margin-right:5px;
  height:30px;
  line-height:30px;
  text-align:center;
  color:#fff;
}
#header #headbar-left ul li a:hover {
  background:#fff;
  color:#f30;
  text-decoration:none;
}
#header #headbar-left ul li.active {
  background:#fff;
  padding:0 10px 0 13px;
  margin-right:5px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-weight:bold;
  color:#f30;
}
#header #headbar-right {
  line-height:50px;
  float:right;
  margin-right:10px;
}
/* ------------------------ Main ------------------------ */
.main{ text-align: left;margin:10px 0;float:left;width:100%;}

.main .member_left{ width:169px; float:left; background-color:#f9f9f9;}
    .main .member_left h3{ height:30px; line-height:30px; background-color:#eeeeee; border-bottom:1px solid #333; margin:3px; padding-left:10px; font-size:14px; color:#333;font-weight: bold}
    .main .member_left ul{}
        .main .member_left ul li{ background:url(../images/menu_bg.gif) no-repeat scroll 10px -50px; height:24px; line-height:24px;}
            .main .member_left ul li a{ color:#333; display:block; padding-left:20px;}
            .main .member_left ul li a:hover{ color:#fff; background:#333 url(../images/menu_bg.gif) no-repeat scroll 10px -50px;}
            .main .member_left ul .active{ color:#333; padding-left:20px; border:1px solid #333; border-right:none; left:1px; position:relative; background:#FFFFFF url(../images/menu_bg.gif) no-repeat scroll 10px -50px; color:#f30; font-weight:bold;}
.main .member_right{ width:789px; float:right; border:1px solid #333; padding:10px; min-height:500px; height:auto !important; height:500px; overflow:visible;}
    .main .member_right .table_list{ width:100%; background:#FFFAE4; border-collapse:separate; border-spacing:0px; border:1px solid #FFE2A6;}
        .main .member_right .table_list th{ background:#FFFAE4; height:30px;}
        .main .member_right .table_list td{ border-top:1px solid #FFE2A6; background:#FFFFFF; padding:4px;}
		.main .member_right .table_list a{ text-decoration:underline;}
		.main .member_right .top { border-top:1px dashed #ccc;}
		    .main .member_right .top p{ border-bottom:1px dashed #ccc;line-height:28px;}
				.main .member_right .top span{border:1px dashed #ccc;}
				.main .member_right .top a{ padding:3px 8px;margin:0;}
			    .main .member_right .top a:hover{ background:#f90;color:#fff;text-decoration:none;}
		        .main .member_right .top .active a{ background:#f90;color:#fff;}
		.main .member_right .toggle{ background:url(../images/toggle_bg.gif) no-repeat 0 -80px;height:20px;margin:0 auto;width:685px;display:block;margin-bottom:10px;}
		.main .member_right .toggle:hover{ background-position:0 -120px;}
		.main .member_right .togglehide{ background:url(../images/toggle_bg.gif) no-repeat 0 0;height:20px;margin:0 auto;width:685px;display:block;margin-bottom:10px;}
		.main .member_right .togglehide:hover{ background-position:0 -40px;}
/* ------------------------ Footer ------------------------ */
#footer{ width:100%; text-align:center; background: #333; color:#999999; padding:10px 0; }
	#footer p { margin:0 40px; }
		#footer p a { color:#fff; }
		#footer p a:hover { color:#999999; }